<?xml version="1.0"?>

<launch>
	<!-- Slife core -->
	<rosparam command="load" file="$(find slife)/config/slife.yaml" />
	<node type="slife" name="slife" pkg="slife" output="screen" required="true"  respawn="false" />
	<node type="synth_pcl_node.py" name="synth_pcl_node" pkg="slife" output="screen" />
	<node type="display_history.py" name="display_history" pkg="slife" output="screen" required="true" />


	<!-- RealSense -->
	<!--include file="$(find realsense2_camera)/launch/rs_camera.launch">
		<arg name="output" value="log" />
	</include>
	<node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

	<node pkg="nodelet" type="nodelet" name="point_cloud_xyz" args="load depth_image_proc/point_cloud_xyz nodelet_manager">
		<remap from="camera_info" to="/camera/depth/camera_info" />
	    <remap from="image_rect" to="/camera/depth/image_rect_raw"/>
	    <remap from="points" to="/camera/depth/pointcloud" />
	</node-->
</launch>
