<?xml version="1.0"?>

<launch>
	<arg name="test_only" default="false" />
	<!-- Slife core -->
	<rosparam command="load" file="$(find slife)/config/slife.yaml" />
	<node type="slife" name="slife" pkg="slife" output="screen" required="true"  respawn="false" />
	<node type="synth_pcl_node.py" name="synth_pcl_node" pkg="slife" output="screen" />
	<node type="display_history_new.py" name="display_history" pkg="slife" output="screen" required="true" />


	<!-- RealSense -->
	<!-- include  file="$(find slife)/launch/depth_camera.launch" /-->
</launch>
